* {
  box-sizing: border-box;
}

html {
  // height: 100%;
  // margin-right: calc(100vw - 100%);
  // font-size: 18px;
  body {
    font-family: $font-family;
    // margin: 0;
    // padding: 0;
    // color: $text-color-800;
    // height: 100vh;
    // overflow: hidden;
    // #root {
    //   height: 100%;
    //   .App {
    //     height: 100%;
    //   }
    // }
  }
}

.MuiList-padding {
  padding: none !important;
}

.MuiButton-label {
  @media screen and (max-width: 800px) {
    font-weight: 700 !important;
  }
}