@import "partials/text";
@import "partials/colors";
@import "partials/variables";

.page-404-wrapper {
  color: $dark-white;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .page-404-title {
    font-size: 40px;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 70px;
    max-width: 800px;
  }

  .link-wrapper {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      fill: $yellow;
      width: 180px;
      height: 50px;
      @include hover-transition;
      border: 1px solid $yellow;
      padding: 5px;
      border-radius: 10px;
      margin-top: 15px;


      &:hover {
        fill: $yellow-hover;
        border-color: $yellow-hover;
      }
    }
  }

  @media only screen and (max-width: 550px) {
    .page-404-title {
      font-size: 25px;
      margin-bottom: 40px;
    }

    .link-wrapper {
      font-size: $font-size-large;
      margin-bottom: 60px;

      svg {
        width: 140px;
        height: 40px;
      }
    }
  }
}
