@import 'partials/text';
@import 'partials/variables';
@import 'partials/colors';

.hero-wrapper {
  .width-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    .hero-title {
      font-weight: bold;
      font-size: 60px;
      line-height: 96.7%;      
      color: #E5E5E5;

      .bold {
        font-weight: 700;
      }

      .thin {
        font-weight: 400;
      }
    }

    .hero-desc {
      margin-top: 24px;
      font-size: 18px;
      line-height: 27px;
      color: #66696C;
      width: 60%;

      @media only screen and (max-width: 850px) {
        width: 100%;
      }
    }

    .hero-btn {
      margin-top: 24px;
      display: flex;

      .button {
        margin-right: 20px;
      }
      
    }
  }
}
