.app-header-container {
  padding-top: 30px;
  margin: 0 16%;
  position: relative;
  .app-header {
    display: flex;
    justify-content: space-between;
    padding: $standard-padding * 2 0;
    height: $app-header-height;
    align-items: center;
    @media screen and (max-width:800px) {
      flex-wrap: wrap;
      height: unset;
      .logo {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .menu-items {
        .menu-item {
          margin: 5px 0 !important;
        }
      }
    }
    .menu-items {
      display: flex;
      align-items: center;
      cursor: pointer;
      @media screen and (max-width:800px) {
        // margin: 200px 0 0 100px;
        flex-wrap: wrap;
        margin: 20px 0; 
        .menu-item {
          width: 100%;
          margin: 10px 0;
          justify-content: center;
          display: flex;
        }
      }
      .menu-item {
        &:not(:first-child) {
          margin: 0 0 0 $standard-margin * 8;
        }
      }
    }
    .whitepaper-wrapper {
      @media screen and (max-width:800px) {
        width: 100%;
        display: flex;
        justify-content: center;
      } 
      .whitepaper-btn {
        font-weight: bold;
        height: 50px;
        border-radius: 10px;
        box-shadow: -3.40642px -3.40642px 20.4385px #3d3d3d, 3.40642px 3.40642px 22.92px rgb(0 0 0 / 65%);
        width: 180px;
      }
    }
  }
}