.landing {
  background-color: $accent-color-medium-1;
  .MuiButton-root {
    border-radius: 10px;
  }
  .ball {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    offset-distance: 100%;
    &.ball1 {
      offset-path: path("M-200,300a400,400 0 1,0 800,0a400,400 0 1,0 -800,0");
      animation: ball 5s linear infinite;
    }
    &.ball2 {
      offset-path: path("M-450,300a650,650 0 1,0 1300,0a650,650 0 1,0 -1300,0");
      animation: ball 6s linear infinite;
    }
    &.ball3 {
      offset-path: path("M-700,300a900,900 0 1,0 1800,0a900,900 0 1,0 -1800,0");
      animation: ball 7s linear infinite;
    }
    &.ball4 {
      offset-path: path("M-1050,300a1250,1250 0 1,0 2500,0a1250,1250 0 1,0 -2500,0");
      animation: ball 8s linear infinite;
    }
    &.ball5 {
      offset-path: path("M-1350,300a1550,1550 0 1,0 3100,0a1550,1550 0 1,0 -3100,0");
      animation: ball 9s linear infinite;
    }
  }

  .money-market-wrapper {
    background-image: url("../../../../icons/moneymarket-background.svg");
    color: $text-color-1500;
    position: relative;
    overflow: hidden;
    .ellipse_img_vector-wrapper {
      position: absolute;
      height: 1424px;
      width: 100%;
      overflow: hidden;
    }
    .ellipse_img_vector {
      height: 100%;
      width: 100%;
      .ellipse {
        position: absolute;
      }
      .white-dot {
        height: 8px;
        width: 8px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
      }
      // .ellipse1-wrapper {
      //   height: 100%;
      //   width: 100%;
      // }
      // .ellipse2-wrapper {
      //   height: 100%;
      //   width: 100%;
      // }
      // .ellipse3-wrapper {
      //   height: 100%;
      //   width: 100%;
      // }
      // .ellipse4-wrapper {
      //   height: 100%;
      //   width: 100%;
      // }
      // .ellipse5-wrapper {
      //   height: 100%;
      //   width: 100%;
      // }
      .ellipse1 {
        height: 800px;
        width: 700px;
      }
      .ellipse1-white-dot {
        left: 500px;
        top: 125px;
      }
      .ellipse2 {
        height: 960px;
        width: 900px;
      }
      .ellipse2-white-dot {
        left: 691px;
        top: 580px;
      }
      .ellipse3 {
        height: 1200px;
        width: 1200px;
      }
      .ellipse3-white-dot {
        left: 957px;
        top: 160px;
      }
      .ellipse4 {
        width: 1500px;
        height: 1400px;
      }
      .ellipse4-white-dot {
        left: 1210px;
        top: 626px;
      }
      .ellipse5 {
        height: 2000px;
        width: 1400px;
        margin-left: 200px;
      }
      .ellipse5-white-dot {
        left: 1537px;
        top: 100px;
      }
    }
    .moneymarket-section-container {
      padding: 0 16%;
      position: relative;
      @media screen and (max-width: 800px) {
        padding: 0 7%;
      }
      .moneymarket-section {
        .two-column-section {
          flex-wrap: wrap;
          @media screen and (max-width: 800px) {
            flex-wrap: wrap-reverse;
          }
        }
        .two-column-section-container {
          .left-section {
            .content {
              @media screen and (max-width: 800px) {
                text-align: center;
                padding: 80px 0 20px 0;
                .sub-title {
                  font-size: 40px !important;
                  line-height: 38.68px;
                  font-weight: 400;
                  margin-bottom: 20px;
                }
                .title {
                  font-size: 60px;
                  line-height: 58.02px;
                  font-weight: 700;
                }
              }
            }
            .sub-title {
              color: $accent-color-primary;
              font-size: 2.1rem;
              margin: 0;
              font-weight: 400;
            }
            .title {
              margin: -15px 0 0 0;
              color: $text-color-1500;
              font-weight: 700;
              font-size: 3rem;
            }
            .description {
              color: $text-color-650;
              margin: 10px 0;
              font-size: 18px;
              .launchapp-wrapper {
                margin-top: 30px;
              }
            }
          }
          .right-section {
            @media screen and (max-width: 800px) {
              margin-top: 100px;
              width: 100%;
            }
            .content {
              padding: 80px 0;
              @media screen and (max-width: 800px) {
                padding: 0 0 60px 0;
                .description {
                  .piston-aircraft-image {
                    left: -20px !important;
                    height: 355px !important;
                    width: 455px !important;
                  }
                  .yellow-vector-image {
                    height: 292px !important;
                    width: 292px !important;
                  }
                }
              }
              .description {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .piston-aircraft-image {
                  position: absolute;
                  height: 455px;
                  width: 575px;
                  top: 0px;
                  left: 100px;
                  animation: floating 3s infinite ease-in-out;
                }
                .yellow-vector-image {
                  height: 392px;
                  width: 392px;
                }
              }
            }
          }
        }
      }
      .market-info-wrapper {
        .market-info-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 3;
          min-width: 200px;
          @media screen and (max-width: 1215px) {
            flex-wrap: wrap;
            .market-info {
              width: 100% !important;
              margin-top: 20px;
              &:not(:first-child) {
                margin-left: 0;
              }
            }
          }
        }
        .market-info {
          width: calc(100% / 3);
          background-color: $accent-color-medium-2;
          border-radius: 20px;
          padding: 30px;
          height: 200px;
          transition: all 0.3s ease;
          &:hover {
            background: #100f0f;
            box-shadow: 0 9px 15px rgb(0 0 0 / 2%);
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
          }
          &:not(:first-child) {
            margin-left: 20px;
          }
          .title-wrapper {
            background-color: #323232;
            border-radius: 10px;
            padding: 5px 20px;
            color: $text-color-1500;
            display: flex;
            align-items: center;
            height: 55px;
            .icon {
              background-color: $background-000;
              border-radius: 50%;
              padding: 5px;
              height: 40px;
              width: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                height: 20px;
                width: 20px;
              }
            }
            .title {
              padding-left: 20px;
              font-size: 20px;
              font-weight: bold;
            }
          }
          .description {
            font-size: 16px;
            line-height: 24px;
            margin: 27px 0 16px 0;
          }
        }
      }
    }
  }
  .stablecoin-section-container {
    margin: 0 16%;
    padding: 50px 0;
    position: relative;
    @media screen and (max-width: 800px) {
      margin: 0 7%;
    }
    .stablecoin-section {
      background: #1b1b1b;
      border-radius: 17px;
      padding: 0 60px 20px 60px;
      @media screen and (max-width: 1215px) {
        border: 1px solid #383838;
        padding: 0;
        .two-column-section {
          .right-section {
            .content {
              padding: 0;
            }
          }
        }
      }
      .two-column-section-container {
        .two-column-section {
          flex-wrap: wrap;
        }
        .left-section {
          .content {
            padding: 0;
            @media screen and (max-width: 1215px) {
              margin: 20px;
            }
          }
          .icon {
            width: 90px;
            height: 90px;
            border-radius: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .description {
            color: $text-color-650;
            font-size: 18px;
            line-height: 27px;
            .learnmore-wrapper {
              .learnmore-btn {
                font-size: 18px;
              }
            }
          }
        }
        .right-section {
          .content {
            padding: 0 0 0 10%;
            @media screen and (max-width: 1215px) {
              padding: 0;
            }
          }
          .description {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 450px;
            .stablecoin-image {
              position: absolute;
              margin: 0px 0 0 -40px;
              height: 300px;
              width: 300px;
            }
            .rectangle {
              position: absolute;
              margin: 200px 0 0 170px;
              @media screen and (max-width: 1215px) {
                margin: 200px 0 0 100px;
              }
            }
            .dotdot {
              margin: 0 0 0 55px;
              @media screen and (max-width: 1215px) {
                margin: 0 0 0 30px;
              }
            }
          }
        }
      }
    }
  }

  .earninterest-section-container {
    padding: 0 16%;
    position: relative;
    @media screen and (max-width: 1215px) {
      padding: 0;
    }
    .wave_img_vector {
      .wave {
        position: absolute;
        width: 100%;
        left: 0;
      }
      .wave1 {
        // position: absolute;
        // width: 100%;
        // left: 0;
        top: 55px;
      }
      .wave2 {
        top: -145px;
      }
      .wave3 {
        top: 100px;
      }
    }
    .two-column-section-container {
      .two-column-section {
        flex-wrap: wrap;
        // @media screen and (max-width:1215px) {
        //   flex
        // }
      }
      .left-section {
        @media screen and (max-width: 800px) {
          text-align: center;
          padding-top: 200px;
        }
        .content {
          padding: 0 0 0 10%;
          position: relative;
          @media screen and (max-width: 800px) {
            text-align: center;
            text-align: -webkit-center;
            padding: 0 7%;
            .sub-title {
              font-size: 14px !important;
            }
            .title {
              font-size: 24px !important;
              width: 80%;
            }
            .description {
              margin-top: 10px !important;
              width: 80%;
              .description-content {
                width: 100% !important;
                font-size: 14px !important;
                line-height: 21px !important;
              }
            }
            .html {
              .yellow-circle-vector,
              .black-can {
                padding-left: 40px;
              }
            }
          }
          .sub-title {
            color: #66696c;
            font-size: 22px;
            margin: 0;
            font-weight: 400;
          }
          .title {
            margin: -10px 0 0 0;
            color: $text-color-1500;
            font-weight: 700;
            line-height: 31px;
            margin-top: 4px;
            font-size: 34px;
          }
          .description {
            color: #fff;
            margin: 40px 0;
            font-size: 16px;
            line-height: 20px;
            .description-content {
              width: 80%;
              font-size: 18px;
              line-height: 27px;
            }
            .launchfortress-wrapper {
              margin-top: 30px;
              .launch-fortress-btn {
                font-size: 16px;
                border: 1px solid $accent-color-primary;
                background-color: $accent-color-medium-1 ;
                color: $accent-color-primary !important;
                font-weight: normal;
                box-sizing: border-box;
                filter: drop-shadow(-3.40642px -3.40642px 20.4385px #3d3d3d),
                  drop-shadow(3.40642px 3.40642px 22.92px rgba(0, 0, 0, 0.65));
                border-radius: 10px;
                padding-left: 20px;
                height: 50px;
                > span {
                  font-weight: 500;
                }
                
              }
            }
          }
          .html {
            position: absolute;
            top: -180px;
            left: 104px;
            .left-img-vectors {
              position: relative;
              display: flex;
              align-items: flex-start;
              .black-can {
                @media screen and (max-width: 800px) {
                  left: -40px;
                }

                position: absolute;
                top: -75px;
                left: -20px;
                animation: wobble 3s linear infinite;
              }
            }
          }
        }
      }
      .right-section {
        @media screen and (max-width: 1215px) {
          padding: 0 7%;
        }
        .content {
          padding: 20px 0;
          .description {
            .tokens-data-wrapper-container {
              width: 80%;
              position: relative;
              @media screen and (max-width: 800px) {
                width: 100%;
              }
              .yellow-vector-wrapper {
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin: -45px 0px 0 130px;
              }
              .tokens-data-wrapper {
                width: 100%;
                .tokens-data {
                  .token-wrapper {
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    align-items: center;
                    padding: 20px 25px;
                    background: rgba(27, 27, 27, 0.86);
                    border: 1px solid #2e2e2e;
                    box-sizing: border-box;
                    backdrop-filter: blur(6px);
                    border-radius: 10px;
                    margin-top: 20px;
                    height: 93px;
                    transition: all 0.3s ease;
                    &:hover {
                      background: rgba(255, 252, 227, 0.63);
                      -webkit-transform: translateX(30px);
                      transform: translateX(30px);
                    }
                    .token-details {
                      display: flex;
                      align-items: center;
                      .token-icon-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .token-icon {
                          height: 60px;
                          width: 60px;
                          @media screen and (max-width: 800px) {
                            height: 40px;
                            width: 40px;
                          }
                        }
                      }
                      .token-info {
                        padding-left: 25px;
                        @media screen and (max-width: 800px) {
                          .name {
                            font-size: 16px !important;
                          }
                          .symbol {
                            font-size: 12px !important;
                          }
                        }
                        .name {
                          font-weight: 500;
                          font-size: 22px;
                          line-height: 20px;
                        }
                        .symbol {
                          color: rgba(255, 255, 255, 0.3);
                          font-size: 18px;
                          font-weight: bold;
                        }
                      }
                    }
                    .apy-details {
                      @media screen and (max-width: 800px) {
                        .apy-perc {
                          font-size: 18px !important;
                        }
                        .apy-label {
                          font-size: 12px !important;
                        }
                      }
                      .apy-perc {
                        color: #70ff64;
                        font-size: 26px;
                      }
                      .apy-label {
                        font-size: 18px;
                        display: flex;
                        justify-content: flex-end;
                        color: rgba(234, 234, 234, 0.3);
                      }
                    }
                  }
                }
                .viewmore-wrapper {
                  margin-top: 30px;
                  display: flex;
                  justify-content: center;
                  .viewmore-btn {
                    border: 1px solid $accent-color-primary;
                    background-color: $accent-color-medium-1;
                    color: $accent-color-primary !important;
                    font-weight: normal;
                    box-sizing: border-box;
                    cursor: pointer;
                    filter: drop-shadow(-3.40642px -3.40642px 20.4385px #3d3d3d),
                      drop-shadow(
                        3.40642px 3.40642px 22.92px rgba(0, 0, 0, 0.65)
                      );
                    border-radius: 10px;
                    padding: 0 20px;
                    height: 50px;
                    > span {
                      font-weight: 500;
                    }
                    // .arrow-button {
                    //   background-color: $accent-color-medium-1 !important;
                    //   color: $accent-color-primary !important;
                    //   padding-right: 0;
                    // }
                  }
                }
                .with-fts {
                  color: #fff;
                  font-size: 15px;
                  display: flex;
                  margin-top: 10px;
                  .with-fts-label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    &.inactive {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-size: 18px;
                      .lit {
                        color: transparent;
                        text-shadow: #c2c2c2 0 0 0;
                      }
                    }
                  }
                  .with-fts-form-label {
                    margin-right: 0;
                    margin-left: 30%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .protocolinfo-section-container {
    margin: 0 16%;
    @media screen and (max-width: 800px) {
      margin: 0 7%;
      .left-section {
        min-width: 300px !important;
        .content {
          padding: 0 !important;
          .protocol-logos {
            .fuel-wrapper,
            .busd-wrapper,
            .fortress-wrapper {
              height: 50px !important;
              width: 50px !important;
            }
            .fortress-wrapper {
              top: 38% !important;
              right: 3% !important;
            }
          }
        }
      }
      .right-section {
        min-width: 300px !important;
      }
    }
    .protocolinfo-section {
      .two-column-section-container {
        .two-column-section {
          flex-wrap: wrap;
        }
        .left-section {
          .content {
            padding: 60px 10% 95px 0;
            .title {
              .icon {
                position: relative;
                .protocolinfo-image {
                  height: 100%;
                  width: 100%;
                }
                .protocol-logos {
                  .logo-wrapper {
                    .img {
                      height: 100%;
                      width: 100%;
                    }
                  }
                  .fuel-wrapper {
                    height: 70px;
                    width: 70px;
                    position: absolute;
                    top: 26%;
                    left: 13%;
                    animation: infoLogoAnimeLoop2 6s ease infinite;
                  }
                  .busd-wrapper {
                    height: 70px;
                    width: 70px;
                    position: absolute;
                    bottom: 24%;
                    left: 37%;
                    animation: infoLogoAnimeLoop3 6s ease infinite;
                  }
                  .fortress-wrapper {
                    height: 70px;
                    width: 70px;
                    position: absolute;
                    top: 38%;
                    right: 3%;
                    animation: infoLogoAnimeLoop1 6s ease infinite;
                  }
                }
              }
            }
          }
        }
        .right-section {
          .content {
            padding: 60px 0 95px 0;

            @media screen and (max-width: 800px) {
              text-align: center;
            }
            .title {
              @media screen and (max-width: 800px) {
                margin-bottom: 0 !important;
                .sub-title {
                  font-size: 14px !important;
                  line-height: 21px !important;
                }
                .title {
                  font-size: 24px !important;
                  font-weight: 700;
                  line-height: 23.21px !important;
                  width: 70%;
                  display: inline-flex;
                }
              }
              .sub-title {
                margin: 0;
                font-size: 22px;
                line-height: 33px;
                color: #66696c;
                font-weight: normal;
              }
              .title {
                margin: 0;
                color: $text-color-1500;
                font-size: 34px;
                line-height: 96.7%;
              }
            }
            .description {
              @media screen and (max-width: 800px) {
                margin-top: 10px;
              }
              .description {
                @media screen and (max-width: 800px) {
                  font-size: 14px;
                  width: 80%;
                  display: inline-flex;
                  margin-top: 0;
                }

                color: $text-color-1500;
                font-size: 18px;
                line-height: 27px;
              }
              .whitepaper-wrapper {
                .read-whitepaper-btn {
                  border: 1px solid $accent-color-primary;
                  background-color: $accent-color-medium-1 ;
                  color: $accent-color-primary !important;
                  font-weight: normal;
                  box-sizing: border-box;
                  filter: drop-shadow(-3.40642px -3.40642px 20.4385px #3d3d3d),
                    drop-shadow(3.40642px 3.40642px 22.92px rgba(0, 0, 0, 0.65));
                  border-radius: 10px;
                  padding-left: 20px;
                  height: 50px;
                  > span {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .market-stats-info-wrapper {
    padding: 40px 10% 100px;
    background-color: #141414;
    position: relative;
    @media screen and (max-width: 800px) {
      padding: 40px 5% 100px;
    }
    .turbo_img_vector {
      position: absolute;
      top: -50%;
      right: 0;
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 1215px) {
        height: 275px;
        top: -22%;
      }
    }
    .market-stats-info-content {
      padding: 0 5%;
      position: relative;
      @media screen and (max-width: 800px) {
        padding: 0 10px;
      }
      .img_vector {
        position: absolute;
        top: 57%;
        left: 35px;
        animation: floating 3s infinite ease-in-out;
        @media screen and (max-width: 800px) {
          top: 66%;
          left: 0px;
        }
      }
      .dot_img_vector {
        position: absolute;
        top: 112px;
        left: -5px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        .dot-dot {
          height: 235px;
          width: 235px;
        }
      }
      .title {
        color: $text-color-1500;
        font-size: 40px;
        padding-left: 35px;
        position: relative;
      }
      .market-stats-info {
        position: relative;
        background: #141414;
        border: 1px solid #323232;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 30px;
        .token-select-price {
          @media screen and (max-width: 800px) {
            display: block;
          }
          display: flex;
          justify-content: space-between;
          .token-price-dropdown {
            @media screen and (max-width: 800px) {
              width: 100%;
            }

            width: 23%;
            min-width: 170px;
            > div {
              border: 1px solid #323232;
              box-sizing: border-box;
              border-radius: 20px;
              height: 63px;
            }
            .selected-token {
              display: flex;
              align-items: center;
              // display: flex;
              // color: #fff;
              // align-items: center;
              img {
                height: 40px;
                width: 40px;
              }
              .token-symbol {
                padding-left: 12px;
                color: $text-color-1500;
                font-size: 20px;
                font-weight: bold;
              }
            }
            .expand-more-icon {
              color: #fff;
              right: 20px;
            }
          }
          .token-price {
            @media screen and (max-width: 800px) {
              display: block;
              text-align: center;
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .price-label {
              @media screen and (max-width: 800px) {
                margin-top: 15px;
                font-size: 14px;
              }
              font-size: 16px;
              color: rgba(234, 234, 234, 0.3);
            }
            .token-price {
              color: $text-color-1500;
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
        .token-details {
          @media screen and (max-width: 800px) {
            text-align: center;
            justify-content: center;
          }
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          background: #323232;
          border-radius: 20px;
          padding: 27px;
          flex-wrap: wrap;
          .label {
            @media screen and (max-width: 800px) {
              &:not(:first-child) {
                margin-top: 15px;
              }
            }
            font-size: 15px;
            color: #6f6f6f;
            font-weight: 500;
          }
          .value {
            font-size: 20px;
            color: $text-color-1500;
            font-weight: bold;
          }
          a {
            text-decoration: none;
          }
          .token-address-value {
            color: $accent-color-primary;
          }
          @media screen and (max-width: 1215px) {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .borrow-on-demand-container {
    position: relative;
    .half-yellow-vector-wrapper {
      position: absolute;
      left: 0;
      top: 50%;
    }
    .earninterest-two-column-section {
      .title {
        width: 90%;
      }
      .two-column-section {
        .left-section {
          .content {
            .html {
              .left-img-vectors {
                .black-can {
                  @media screen and (max-width: 800px) {
                    left: -120px;
                  }
                  position: absolute;
                  top: -69px;
                  left: -95px;
                  animation: rotateAnim 3s linear infinite;
                }
              }
            }
          }
        }
        .right-section {
          .content {
            padding: 30px 0 160px 0;
          }
          .tokens-data-wrapper-container {
            width: 100%;
            .yellow-vector-wrapper {
              margin: -25px 0px 0 90px !important;
            }
            .tokens-data-wrapper {
              .tokens-data {
                .token-wrapper {
                  .apy-details {
                    color: #e1b30a !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .yellow-border-btn {
    font-size: 16px;
  }

  .selected-token {
    display: flex;
    color: #fff;
    align-items: center;
  }
}

.token-price-menu-item {
  background-color: #ffffff !important;
  .selected-token {
    color: #fff;
    .image {
      height: 45px;
      width: 45px;
    }
    .token-symbol {
      padding-left: 10px;
      font-size: 20px;
    }
  }
}
