.landing {
  &.dark {
    .MuiButton-text {
      background-color: $accent-color-medium-1 !important;
      &:hover {
        box-shadow: -3.40642px -3.40642px 20.4385px #3d3d3d,
          3.40642px 3.40642px 22.92px rgba(0, 0, 0, 0.65);
        background-color: rgba(255, 238, 173, 0.2) !important;
      }
    }
    .arrow-button {
      background-color: transparent !important;
      color: $accent-color-primary !important;
    }
    .MuiButton-contained {
      background-color: $accent-color-primary !important;
    }
  }
  &.light {
    background-color: white;
    .app-header-container {
      @media screen and (max-width: 800px) {
        background-color: white !important;
        box-shadow: 0px 4px 25px rgba(220, 220, 220, 0.3);
      }
      .whitepaper-btn:hover {
        box-shadow: 0px 0px 13px rgba(247, 196, 8, 0.7) !important;
      }
    }
    .title {
      color: $accent-color-medium-2 !important;
    }

    .MuiButton-contained {
      &:hover {
        box-shadow: 0px 0px 13px rgba(247, 196, 8, 0.7);
      }
      background-color: $accent-color-primary !important;
      box-shadow: none;
    }
    .money-market-wrapper {
      color: $accent-color-medium-1 !important;
    }
    .stablecoin-section {
      background-color: white !important;
      color: $accent-color-medium-1 !important;
      border: none !important;
    }
    .description-content {
      color: $accent-color-medium-1 !important;
    }
    .MuiButton-label {
      color: $accent-color-primary;
    }
    .MuiButton-contained > .MuiButton-label {
      color: white !important;
    }
    .whitepaper-btn {
      box-shadow: none !important;
    }
    .MuiButton-text {
      background-color: white !important;
    }
    .arrow-button {
      background-color: white !important;
      color: $accent-color-primary !important;
    }
    .token-wrapper {
      .apy-label {
        color: #bcbcbc !important;
      }
      .apy-perc {
        color: #42cf50 !important;
      }
      .symbol {
        color: rgba(30, 30, 30, 0.3) !important;
      }
      background: rgba(255, 255, 255, 0.86) !important;
      &:hover {
        background: rgba(255, 247, 217, 0.86) !important;
        backdrop-filter: blur(6px);
      }
      border: 1px solid #e7e7e7 !important;
      color: $accent-color-medium-2 !important;
    }
    .market-info {
      background-color: white !important;
      &:hover {
        background-color: white !important;
      }
      .title-wrapper {
        background-color: #efefef !important;
      }
    }
    .ball {
      background-color: black;
    }
    .with-fts {
      .fai {
        color: #434343;
      }
    }
    .description {
      color: $accent-color-medium-2 !important;
    }
    .market-stats-info-wrapper {
      background-color: #fafafa !important;
      .price-label {
        color: #0C0C0C !important;
      }
      .token-price {
        color: #0C0C0C !important;
      }
      .market-stats-info {
        background-color: white !important;
        border: 1px solid #e7e7e7 !important;
      }
      .token-price-dropdown > div {
        border: 1px solid #e7e7e7 !important;
        .token-symbol {
          color: #323232 !important;
        }
      }
      .token-details {
        background-color: #ebebeb !important;
        .value {
          color: #323232 !important;
        }
        .token-address-value {
          color: $accent-color-primary !important;
        }
      }
    }
    .expand-more-icon {
      color: black !important;
    }
  }
}

.main-template {
  &.dark {
    .footer {
      .whitepaper-btn {
        background-color: $accent-color-medium-1 !important;
      }
    }
  }
  &.light {
    .footer {
      background-color: white !important;
      position: relative !important;
      box-shadow: 0px 0px 20px rgba(16, 16, 16, 0.07);
      margin: 0 !important;
      padding: 50px 14%;
      .whitepaper-btn {
        background-color: white !important;
      }
    }
  }
}
