.two-column-section-container {
  .two-column-section {
    .left-section,
    .right-section {
      .content {
        .title {
          font-size: 2rem;
          font-weight: 600;
          line-height: normal;
          color: $accent-color-dark;
          margin: $standard-margin * 5 0;
        }
      }
    }
  }
}

.mobile {
  .two-column-section-container {
    .two-column-section {
      .left-section,
      .right-section {
        .content {
          .title {
            margin: $standard-margin * 1.5 0;
          }
        }
      }
    }
  }
}