@import 'partials/text';
@import 'partials/variables';
@import 'partials/colors';

.header-wrapper {
  color: white;
  padding-top: 35px;
  z-index: 1000;
  height: fit-content;

  .width-container .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;

    .header-logo {
      position: relative;
      z-index: 100;

      svg {
        cursor: pointer;

        path {
          @include hover-transition;
          fill: $white;
        }

        &:hover path { fill: $dark-white-hover; }
      }
    }

    .flex-wrapper {
      display: flex;
      position: relative;
      z-index: 30;
      align-items: center;
      justify-content: space-between;
      max-width: 635px;

      .menu-icon {
        background: $gray-gradient-2;
        box-shadow: -3.40642px -3.40642px 20.4385px #3D3D3D, 3.40642px 3.40642px 22.92px rgba(0, 0, 0, 0.65);
        border-radius: 10px;
        margin-left: 20px;
        display: none;
        cursor: pointer;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 8px;
        width: 35px;
        top: 35px;
        height: 35px;
        z-index: 100;
        @include hover-transition;

        &:hover .navicon {
          background-color: $white-hover;

          &:before, &:after { background-color: $white-hover; }
        }

        .navicon {
          background: $white;
          display: block;
          height: 2px;
          position: relative;
          border-radius: 10px;
          transition: background .2s ease-out;
          width: 25px;

          &:before, &:after {
            background: $white;
            border-radius: 10px;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
          }

          &:before { top: 6px; }
          &:after { top: -6px; }
        }
      }

      .menu-btn {
        &:checked ~ {

          .links-item-wrapper { top: 0; }

          .menu-icon {
            .navicon {
              background: transparent;

              &:before { transform: rotate(-45deg); }
              &:after { transform: rotate(45deg); }
            }

            .navicon {  &:before, &:after { top: 0; }  }
          }
        }

        &:hover { background-color: #f4f4f4; }
      }

      .menu-btn { display: none; }

      .menu-icon { display: none; }

      .links-item-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .links-wrapper {
          .header-link {
            font-size: $font-size-medium;
            color: $gray-main;
            @include hover-transition;

            &:hover { color: $gray-main-hover; }

            &:not(:last-child) { margin-right: 39px; }
          }
        }
      }
    }

    .token-wallet-wrapper {
      display: flex;
      align-items: center;

      .header-link {
        font-size: $font-size-medium;
        color: $gray-main;
        @include hover-transition;

        &:hover { color: $gray-main-hover; }

        &:not(:last-child) { margin-right: 30px; }
      }
    }
  }

  @media only screen and (max-width: 1120px) {
    .width-container .content-wrapper {
      padding: 0 20px;
      .header-line { right: 20px; }
    }
  }

  @media only screen and (max-width: 1000px) {
    .width-container .content-wrapper .flex-wrapper { max-width: 600px; }
  }

  @media only screen and (max-width: 900px) {
    .width-container .content-wrapper .flex-wrapper { max-width: 570px; }
  }

  @media only screen and (max-width: 850px) {
    .width-container .content-wrapper {
      align-items: flex-start;

      .header-line { display: none; }

      &.checked {
        padding-top: 40px;

        .header-logo {
          position: fixed;
          top: 35px;
        }

        .menu-icon {
          position: fixed;
          right: 20px;
        }
      }

      .flex-wrapper {
        display: flex;
        flex-direction: row-reverse;

        .menu-icon {
          display: flex;
        }

        .links-item-wrapper {
          background: url("../../assets/background.png"), #0f0f0f;
          background-size: cover;
          z-index: 30;
          width: 100%;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: fixed;
          top: calc(-100% - 500px);
          min-height: vh(100);
          padding: 50px 0;
          margin-top: 0;
          transition: all .5s ease-in;


          .links-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            .header-link {
              font-size: $font-size-title;
              color: $white;

              &:hover { color: $white-hover; }

              &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 60px;
              }
            }
          }
        }
      }

      .token-wallet-wrapper {
        display: none;
        position: absolute;
        bottom: 0;
        padding: 20px;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  @include for-sm-screen {
    padding-top: 20px;

    .width-container .content-wrapper {

      &.checked .header-logo, .menu-icon { top: 20px; }

      .flex-wrapper .menu-icon { top: 20px; }

      .header-logo svg { width: 105px; }
    }
  }

  @media only screen and (max-width: 420px) {
    .width-container .content-wrapper {
      padding: 0 10px;

      &.checked .menu-icon { right: 10px; }
    }
  }
}
