@import 'partials/text';
@import 'partials/variables';
@import 'partials/colors';

.market-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.5);

  .width-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transform: translateY(-65%);

    @media only screen and (max-width: 850px) {
      transform: none;
      margin: 50px 0 0;
    }

    .market-title {
      font-weight: bold;
      font-size: 40px;
      line-height: 96.7%;
      color: #E5E5E5;
    }

    .market-items {
      display: flex;
      flex-wrap: wrap;
      margin: 36px -20px 0;

      @media only screen and (max-width: 850px) {
        display: block;
        margin: 36px 0 0;
      }

      .market-item {
        width: calc(20% - 20px);
        margin: 0 10px;
        padding: 20px;
        background: linear-gradient(135deg, #272727 0%, #1C1C1C 100%);
        box-shadow: 0px 4px 54px rgba(106, 106, 106, 0.17);
        border-radius: 20px;

        @media only screen and (max-width: 850px) {
          width: 100%;
          margin: 10px 0;
        }

        .market-item-title {
          font-size: 12px;
          line-height: 18px;
          color: #66696C;
        }

        .market-item-body {
          font-size: 15px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }
    }
  }
}
