@import 'partials/colors';
@import 'partials/variables';
@import 'partials/text';

.form-wrapper {
  width: 100%;
  position: relative;
  margin: 0;

  .submit-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    .button {
      max-width: 165px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      font-size: $font-size-medium;
      text-transform: uppercase;
    }
  }

  .form-item-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &.wrapper-error {
      padding: 0;
      border-color: $red;

      .input-values {
        border: 1px solid $red;
      }
    }

    &.disabled {
      opacity: .3;
      cursor: not-allowed;
      > * { pointer-events: none; };
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .input-values {
      position: relative;
      display: flex;
      justify-content: space-between;
      background: #323232;
      border-radius: 10px;
      padding: 13px 20px;
      max-height: 75px;
      border: 1px solid transparent;

      input { outline: none; }

      input:disabled { cursor: not-allowed; }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    label {
      display: flex;
      align-items: center;
      font-size: $font-size-small-regular;
      color: $gray;
    }

    .second-label {
      font-size: $font-size-extra-large;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      white-space: nowrap;
      margin-left: 10px;
    }

    .form-item {
      width: 100%;
      color: $white;
      border: none;
      background: transparent;
      font-size: 40px;
      min-width: 0;
      font-weight: bold;

      &::placeholder {
        color: $gray-main;
        opacity: 1;
      }
    }

    div.form-item-error {
      color: $red;
      font-size: $font-size-medium;
      text-align: left;
      padding: 10px 23px 0 23px;
    }

    &.form-item-wrapper-textarea {

      .input-values { flex-grow: 1; }

      textarea {
        resize: none;
        text-align: left;
        flex-grow: 1;
        font-size: $font-size-small-regular;
      }
    }
  }

  .max-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-extra-large;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 20px;

    &.disabled-max .use-max-label {
      cursor: not-allowed;

      &:hover { color: $white; }
    }

    .max-value-label {
      display: flex;
      align-items: center;

      .error { color: $red; }

      .max-label { margin-right: 10px; }
    }

    .use-max-label {
      @include hover-transition;
      cursor: pointer;
      text-decoration: underline;

      &:hover { color: $white-hover; }
    }
  }
}
